# Imports and connecting to MYSQL

In [1]:
#import libraries
import pymysql 
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
import pandas as pd

In [2]:
#connecting to mySQL
connection = "mysql+pymysql://root:root@localhost/books"
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/books)

![png](IMG/books.png)

In [3]:
#creating database
if database_exists(connection) == False:
    create_database(connection)
else: print('Database already exists')

Database already exists

# Users DF

In [4]:
# importing users df
users_df = pd.read_csv('https://docs.google.com/spreadsheets/d/1_c2WTx_eiH8pUM-PTgyt7T4aIl1A3Cp1ukPVPEijoYc/gviz/tq?tqx=out:csv&sheet=users')
users_df.head()

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com

In [5]:
# moving users df to SQL
users_df.to_sql('users', engine, if_exists='replace')

3

In [6]:
#checking sql to make sure successful 
q ="""SELECT *
      FROM users;"""

pd.read_sql(q, engine)

   index  id first_name  last_name                 email
0      0   1       John        Doe          JD@books.com
1      1   2      Robin      Smith       Robin@books.com
2      2   3     Gloria  Rodriguez  grodriquez@books.com

# Books DF

In [7]:
#creating books df
books_df = pd.read_csv('https://docs.google.com/spreadsheets/d/1_D-vW7GXiQfG6D9nzjscgVctKLb6TZl_o8ERNH_tet8/gviz/tq?tqx=out:csv&sheet=books')
books_df.head()

   id                 title  author_id
0   1           The Shining          1
1   2                    It          1
2   3      The Great Gatsby          2
3   4  The Call of the Wild          3
4   5   Pride and Prejudice          4

In [8]:
#moving books df to sql
books_df.to_sql('books', engine, if_exists='replace')

6

In [9]:
#checking sql to ensure success
q =""" SELECT *
       FROM books;"""

pd.read_sql(q, engine)

   index  id                 title  author_id
0      0   1           The Shining          1
1      1   2                    It          1
2      2   3      The Great Gatsby          2
3      3   4  The Call of the Wild          3
4      4   5   Pride and Prejudice          4
5      5   6          Frankenstein          5

# Authors DF

In [10]:
#creating author df
authors_df = pd.read_csv('https://docs.google.com/spreadsheets/d/17rABPt5eaIxfhGO75dYCbH-5IloKsAR0HH9V6VC43ZI/gviz/tq?tqx=out:csv&sheet=authors')
authors_df.head()

   id        author_name
0   1       Stephen King
1   2  F.Scott Fitgerald
2   3        Jack London
3   4        Jane Austen
4   5       Mary Shelley

In [11]:
#moving df to mysql
authors_df.to_sql('books', engine, if_exists='append')

#error recieved, if_exist='append' doesn't add the data while 'replace' erases previous data

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'author_name' in 'field list'")
[SQL: INSERT INTO books (`index`, id, author_name) VALUES (%(index)s, %(id)s, %(author_name)s)]
[parameters: ({'index': 0, 'id': 1, 'author_name': 'Stephen King'}, {'index': 1, 'id': 2, 'author_name': 'F.Scott Fitgerald'}, {'index': 2, 'id': 3, 'author_name': 'Jack London'}, {'index': 3, 'id': 4, 'author_name': 'Jane Austen'}, {'index': 4, 'id': 5, 'author_name': 'Mary Shelley'})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [12]:
q = """SELECT *
       FROM books;"""

pd.read_sql(q, engine)

   index  id                 title  author_id
0      0   1           The Shining          1
1      1   2                    It          1
2      2   3      The Great Gatsby          2
3      3   4  The Call of the Wild          3
4      4   5   Pride and Prejudice          4
5      5   6          Frankenstein          5

# Favorites DF

In [13]:
#creating favorites df
favorites_df = pd.read_csv('https://docs.google.com/spreadsheets/d/1SLb3RAhcrZsPWRwR0_njWX7KssUYZ16JFsVqBkSU2GI/gviz/tq?tqx=out:csv&sheet=favorite')
favorites_df.head()

   user_id  book_id
0        1        1
1        1        2
2        1        3
3        2        4
4        2        5

In [14]:
#moving favorites df to mysql
favorites_df.to_sql('favorites', engine, if_exists='replace')

7

In [15]:
#checking for successful move
q = """SELECT *
       FROM favorites;"""

pd.read_sql(q, engine)

   index  user_id  book_id
0      0        1        1
1      1        1        2
2      2        1        3
3      3        2        4
4      4        2        5
5      5        3        5
6      6        3        6